<ol>
<% @questions.each do |question| %>
  <li><a href="/questions/<%=question.id%>"><h3><%= question.title %></h3></a></li>
      <ul>
      <li><p><%= question.description %></p></li>
      </ul>
  <% end %>
</ol>
